/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Elimina las flechas en Chrome, Safari y Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

/* Elimina las flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
